@page "/my-classes/{ClassId}"
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject ILessonService lessonService
@inject IClassService classService
@inject NavigationManager navMgr

@if (SelectedClass == null)
{
    <span>Loading class details...</span>
}
else
{
    <div class="class-container">
        <div class="class-card">
            <h2>@SelectedClass.Title @SelectedClass.Room</h2>

            <div class="d-flex">
                <AuthorizeView Policy="MustBeTeacher">
                    <ClassAttendanceComponent ClassId=@ClassId />
                </AuthorizeView>
                <AuthorizeView Policy="MustBeStudent">
                    <SingleUserAttendanceComponent ClassId=@ClassId />
                </AuthorizeView>
                <ParticipantsComponent ClassId=@ClassId />
            </div>
        </div>
    </div>

    <div class="lessons-container">
        <AuthorizeView Policy="MustBeTeacher">
            <div class="add-icon-container w-full d-flex align-items-center justify-content-center" @onclick="CreateLesson">
                <img src="/add.png" alt="Add Icon" style="width: 30px"/>
            </div>
        </AuthorizeView>
        @if (SelectedClass.Lessons == null)
        {
            <span>Loading lessons...</span>
        }
        else if (!SelectedClass.Lessons.Any())
        {
            <p>No lessons available for this class</p>
        }
        else
        {
            @foreach (var lesson in SelectedClass.Lessons)
            {
                <div class="lesson-card d-flex justify-content-between align-items-center">
                    <div @onclick="() => ViewLesson(lesson.Id)" class="d-flex">
                        <div class="icon-container">
                            <img src="/notebook.png" alt="Lesson Icon"/>
                        </div>
                        <h4 class="ms-3 mb-0 align-self-center">@lesson.Topic. @lesson.Date</h4>
                    </div>

                    <div class="d-flex">
                        <AuthorizeView Policy="MustBeTeacher">
                            <button @onclick="@(() => UpdateLesson(lesson.Id))"
                                    type="button" class="btn btn-primary mx-3">
                                Update
                            </button>
                            <button @onclick="@(() => DeleteLessonById(lesson.Id))" type="button" class="btn btn-danger">
                                Delete
                            </button>
                        </AuthorizeView>
                    </div>
                </div>
            }
        }
    </div>
}

@code {

    [Parameter]
    public string ClassId { get; set; }

    private ClassEntity SelectedClass { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            SelectedClass = await classService.GetByIdAsync(ClassId);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    private void ViewLesson(string lessonId)
    {
        navMgr.NavigateTo($"my-classes/{ClassId}/lessons/{lessonId}");
    }

    private void CreateLesson()
    {
        navMgr.NavigateTo($"my-classes/{ClassId}/create-lesson");
    }

    private void UpdateLesson(string lessonId)
    {
        navMgr.NavigateTo($"my-classes/{ClassId}/update-lesson/{lessonId}");
    }

    private async Task DeleteLessonById(string lessonId)
    {
        try
        {
            await lessonService.DeleteAsync(lessonId);
            await OnInitializedAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

}